[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

djangorestframework = "*"
django = "*"
pillow = "*"
django-rest-auth = "*"


[dev-packages]



[requires]

python_version = "3.6"
